<div class="row justify-content-center">
  <div class="col-9">
    <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field form-group">
        <%= f.label :name, "Name:" %><br />
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :age, "Age:" %><br />
        <%= f.text_field :age, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :country, "Country:" %><br />
        <%= f.text_field :country, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :sex, "Sex:" %><br />
        <%= f.select :sex, ["N/A", "Female", "Male"], {}, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :email, "Email:" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form-group">
        <%= f.label :password, "Password:" %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation, "Password confirmation:" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :current_password, "Current password: " %><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "btn btn-default btn-block bg-light" %>
      </div>
    <% end %>
    <br />
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default btn-block bg-light" %>
  </div>
</div>
