<div class="row justify-content-center">
  <div class="col-7">
    <h2 class="text-center">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field form-group">
        <%= f.label :email, "Email: " %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :password, "Password: " %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation, "Password Confirmation: " %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-default btn-block bg-light' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
