Welcome to CloneBook!
===============================================

You have successfully signed up to CloneBook!

To login to the site, just follow this link: <%= @url %>.

Thanks for joining and have a great day!
