<% if comment.new_record?
    url = post_comments_path(post, comment)
    method = :post
  else
    url = post_comment_path(post, comment)
    method = :patch
  end
%>

<%= form_for :comment, url: url, method: method, remote: true do |f| %>
  <%= f.text_area :content, class: "form-control" %>
  <%= f.submit btn_text, class: "btn btn-default btn-block bg-light" %>
<% end %>
