<div class="comment" id="comment_<%= comment.id %>">
  <div class="comment-body">
    <%= comment.content %>
  </div>

  <div class="comment-menu">
    <div class="row">
      <div class="col text-left">
        <small>
          by <%= link_to comment.user.email, user_path(comment.user_id) %>,
           <%= time_ago_in_words(comment.created_at) %> ago
         </small>
      </div>
      <div class="col text-right">
        <%= render 'comments/comment_menu', comment: comment %>
      </div>
    </div>
  </div>
</div>
