<small>
  <% if current_user?(comment.user_id) %>
    <%= link_to "Edit", edit_post_comment_path(comment.post_id, comment.id) %> |
    <%= link_to "Delete", post_comment_path(comment.post_id, comment.id), remote: true, method: :delete, data: { confirm: "Are you sure?"} %>
  <% end %>
</small>
