<% if flash.notice.nil? %>
  post = $("#post_<%= @post.id %>")
  $(".alert").remove();
  $("#post_<%= @post.id %> #comment_content").val("");
  if (post.next(".comments").length == 0) {
    post.after("<div class=\"comments\"></div>");
  }
  post.next(".comments").prepend("<%= j render 'comments/comment', comment: @comment %>");
<% else %>
  if ($(".alert").length == 0) {
    $("header").next("hr").after("<%= j render 'shared/flash' %>");
  }
<% end %>
