<ul class="list-group friends">
  <li class="list-group-item bg-light">Friends(<%= user.friends_quantity %>)</li>
  <% if user.any_friends? %>
    <% user.friends.each do |friend| %>
      <li class="list-group-item">
        <%= gravatar_for(user.user, size: 30) %>
        <%= link_to "#{friend.email}",  user_path(friend) %>
      </li>
    <% end %>
  <% else %>
    <li class="list-group-item">No friends yet. </li>
  <% end %>
</ul>
