<% if current_user?(user.id) %>
  <%= link_to "Edit Profile", edit_user_registration_path, class: classes %>
<% else %>
  <% if friends?(user.friends_ids, current_user.id) %>
    <%= link_to "Unfriend", destroy_friendship_path(user.id), class: classes, method: :delete %>
  <% elsif requested_friendship_with?(user.request_senders_ids, current_user.id) %>
    <%= link_to "Cancel request", destroy_request_path(user.id), class: classes, method: :delete %>
  <% elsif friendship_requested_by?(user.request_receivers_ids, current_user.id) %>
    <%= link_to "Accept friendship",
                    create_friendship_path(user.id), class: classes,  method: :post %>
  <% else %>
    <%= link_to "Befriend", create_request_path(user.id), class: classes, method: :post %>
  <% end %>
<% end %>
