<ul class="list-group received_requests">
  <li class="list-group-item bg-light">Received Requests(<%= user.received_requests_quantity %>)</li>
  <% if user.any_received_requests? %>
    <% user.received_requests.each do |request| %>
      <li class="list-group-item">
        <%= gravatar_for(user.user, size: 30) %>
        <%= link_to "#{request.sender.email}",  user_path(request.sender) %> |
        <%= link_to "Accept",  create_friendship_path(request.sender), method: :post %>
      </li>
    <% end %>
  <% else %>
    <li class="list-group-item">No requests received yet. </li>
  <% end %>
</ul>
