<ul class="list-group sent_requests">
  <li class="list-group-item bg-light">Sent Requests(<%= user.sent_requests_quantity %>)</li>
  <% if user.any_sent_requests? %>
    <% user.sent_requests.each do |request| %>
      <li class="list-group-item">
        <%= gravatar_for(user.user, size: 30) %>
        <%= link_to "#{request.receiver.email}",  user_path(request.receiver) %> |
        <%= link_to "Cancel", destroy_request_path(request.receiver), method: :delete %>
      </li>
    <% end %>
  <% else %>
    <li class="list-group-item">No requests sent yet. </li>
  <% end %>
</ul>
