<%= form_tag users_path, method: :get, class: "user-search-form" do %>
<div class="input-group">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by name or email..." %>
    <span class="input-group-btn">
      <%= submit_tag "Search", name: nil, class: "btn" %>
    </span>
  </div>
<% end %>
