<ul class="list-group user-info">
  <li class="list-group-item bg-light">User Info</li>
  <li class="list-group-item text-center"><%= gravatar_for(user.user) %></li>
  <li class="list-group-item">Name: <%= user.user.name %></li>
  <li class="list-group-item">Email: <%= user.user.email %></li>
  <li class="list-group-item">Sex: <%= user.user.sex %></li>
  <li class="list-group-item">Age: <%= user.user.age %></li>
  <li class="list-group-item">Country: <%= user.user.country %></li>
  <%= render 'menu_options', user: user, classes: "list-group-item list-group-item-action text-center" %>
</ul>
