<h1 class="text-center">Users</h1>

<%= render "user_search_form" %>

<br />

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th class="text-center">Avatar</th>
      <th class="text-center">Email</th>
      <th class="text-center">Name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= gravatar_for(user, size: 30) %></td>
        <td><%= link_to "#{user.email}", user_path(user) %></td>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
