<div class="row">
  <div class="col-4">
    <%= render 'user_info', user: @user %>
    <hr />
    <%= render 'friends', user: @user %>
    <% if current_user?(@user.id) %>
      <hr />
      <%= render 'received_requests', user: @user %>
      <hr />
      <%= render 'sent_requests', user: @user %>
    <% end %>
  </div>
  <div class="col-8">
    <% if current_user?(@user.id) %>
      <%= render '/posts/post_form', post: @user.new_post, user_id: @user.id, btn_text: "Create" %>
      <hr />
    <% end %>
    <div class="posts">
      <% if @user.any_posts? %>
        <%= render partial: "posts/post", collection: @user.posts %>
      <% else %>
        <div class="text-center" id="no-posts">There are no posts here yet.</div>
      <% end %>
    </div>
  </div>
</div>
