<div class="row justify-content-center">
  <div class="col-7">
    <h2 class="text-center">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, "Email: " %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %><br />
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-default btn-block bg-light" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
