<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "CloneBook", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <% if user_signed_in? %>
        <%= link_to "Posts", feed_path, class: "nav-item nav-link" %>
        <%= link_to "Users", users_path, class: "nav-item nav-link" %>
        <%= link_to "Profile", user_path(current_user),
                                      class: "nav-item nav-link" %>
        <span class="nav-item nav-link", id="notifications-btn">
          Notifications <span class="badge badge-dark">
            <%= @notifications.size %>
          </span>
        </span>
        <%= render 'shared/notifications_list', notifications: @notifications %>
        <%= link_to "Sign out", destroy_user_session_path,
                        method: :delete, class: "nav-item nav-link" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path,
                                  class: "nav-item nav-link" %>
        <%= link_to "Sign Up", new_user_registration_path,
                                  class: "nav-item nav-link" %>
      <% end %>
      </div>
    </div>
  </nav>
</header>
