<% if notifications.any? %>
  <div id="notifications">
    <ul class="list-group">
        <% notifications.each do |notification| %>
          <li class="list-group-item" id="request_<%= notification.request_id %>">
            User
            <%= link_to "#{notification.sender_email}",  user_path(notification.sender_id) %> wants to befriend you |
            <%= link_to "Accept",  create_friendship_path(notification.sender_id), method: :post, remote: true %> |
            <%= link_to "Decline", destroy_request_path(notification.sender_id), method: :delete, remote: true %>
          </li>
        <% end %>
    </ul>
  </div>
<% end %>
