<div class="post" id="post_<%= post.id %>">
  <div class="post-body">
    <%= post.content %><br />
  </div>

  <div class="post-menu">
    <div class="row">
      <div class="col text-left">
        <small>by <%= link_to post.user.email, user_path(post.user) %>,
           <%= time_ago_in_words(post.created_at) %> ago</small>
      </div>
      <div class="col text-right">
        <small>
          <span class="comment-form-btn">Comment</span> |
          <%= link_to "Like", like_post_path(post), remote: true, method: :post, id: "post_#{post.id}_like-btn" %>
          <span id="post_<%= post.id %>_likes"><%= "x #{post.likes}" %></span>
            <%if current_user?(post.user.id) %>
            | <%= link_to "Edit", edit_post_path(post) %> |
            <%= link_to "Delete", post_path(post), remote: true, method: :delete, data: { confirm: "Are you sure?"} %>
          <% end %>
        </small>
      </div>
    </div>
  </div>

  <div class="comment-form">
    <%= render 'comments/comment_form', btn_text: "Create comment", post: post, comment: post.comments.build %>
  </div>
</div>

<%= render 'comments/post_comments', post: post %>
