<%= form_for post, remote: true do |f| %>
  <%= f.text_area :content, rows: 4, class: "form-control" %>
  <% if !user_id.nil? %>
    <%= f.hidden_field :user_id, value: user_id %>
  <% end %>
  <%= f.submit btn_text, class: "btn bg-light btn-block" %>
<% end %>
