<% if flash.notice.nil? %>
  $(".alert").remove();
  $("#post_content").val("");
  if ($(".posts").children("#no-posts").length == 1) {
    $(".posts").children("#no-posts").remove();
  }
  $(".posts").prepend("<%= j render 'posts/post', post: @post %>");
<% else %>
  if ($(".alert").length == 0) {
    $("header").next("hr").after("<%= j render 'shared/flash' %>");
  }
<% end %>
