$("#post_<%= @post.id %>").next('.comments').remove();
$("#post_<%= @post.id %>").remove();
if ($(".posts").children().length == 0) {
  $(".posts").prepend("<div class=\"text-center\" id=\"no-posts\">There are no posts here yet.</div>")
}
