<div class="feed row justify-content-center">
  <div class="col-9">
    <div class="posts">
      <% if @posts.any? %>
        <%= render @posts %>
      <% else %>
        <div class="text-center" id="no-posts">
          There are no posts here yet.
        </div>
      <% end %>
    </div>
  </div>
</div>
