.comments {
  margin-left: 50px;
}

.comment-form {
  display: none;
}

.comment-form-btn {
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  &:hover {
    color: #0056b3;
    text-decoration: underline;
  }
}
