.post, .comment {
  border: 1px rgba(0, 0, 0, 0.125) solid;
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  .post-body, .comment-body {
    padding-bottom: 10px;
    border-bottom: 1px rgba(0, 0, 0, 0.125) solid;
    margin-bottom: 5px;
  }
}
